@page
@model MidtermTodos.Pages.Todos.TodoUpdateSuccessModel
@{
    ViewData["Title"] = "Todo Task Update Successful";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>
        <a class="nav-link" asp-area="" asp-page="/Index">Click here to continue.</a>
    </p>
}
