@page
@model MyBlog.Pages.ArticleAddSuccessModel

@{
    ViewData["Title"] = "Article Add Successful";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>
        <a class="nav-link" asp-area="" asp-page="/Index">Click here to continew.</a>
    </p>
}
